    <form>
    <p class="search-criteria">Checklist Search Criteria</p>
    <div class="col-md-4">
        <div> <br>
            <label>Product Type</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #product value="Account Services">Account Services</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Audience</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #audience value="client">Client</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Region</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #region value="Asia">Asia</option>
                <option #region value="North America">North America</option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <br>
            <label>Sub Product</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #subProduct value="Account Opening">Account Opening</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Client Action</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #clientAction value="New Account">New Account</option>
                <option #clientAction value="Account Opening">Account Opening</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Country</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #country value="China">China</option>
                <option #country value="UNITED STATES OF AMERICA">UNITED STATES OF AMERICA</option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <br>
            <label>Channel: Sub-Channel</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #channel value="eBAM Premier">eBAM Premier</option>
                <option #channel value="Non eBAM">Non eBAM</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Client Action Sub Type</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #clientActionSubType value="Account Opening - New Account">Account Opening - New Account</option>
            </select>
            </div>
        </div>
        <div>
            <br>
            <label>Residency</label>
            <div class="form-group">
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option #residency value="BOTH">BOTH</option>
            </select>
            </div>
        </div>
    </div>

    <div class="button-container">
            <button type="button" class=" clear btn btn-default" (click)="clear()">Clear</button>
            <button type="button" class="search btn btn-primary"(click)="search(product.value, audience.value, region.value, subProduct.value, clientAction.value, country.value, channel.value, clientActionSubType.value, residency.value)" >Search</button>
    </div>
    </form>
