<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
    </a>
    
  </div>
  <nav class="collapse navbar-collapse">
    <img class="citi-reverse" src="/assets/img/Citi-Reverse.png" alt=" logo" />
    <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">
      <li class="applauncher-pf  dropdown">
  <button class="btn btn-link dropdown-toggle nav-item-iconic" data-toggle="dropdown" href="#">
    <span title="Help" class="bell fa fa-bell-o"></span>
    <span class="dropdown-title">
      <span class="applauncher-pf-title">
        Application Launcher
        <span class="caret" aria-hidden="true"></span>
      </span>
    </span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="applauncher-pf-item" role="presentation">
      <a class="applauncher-pf-link" href="#" role="menuitem">
        
        <i class="applauncher-pf-link-icon pficon pficon-storage-domain" aria-hidden="true"></i>
        
        <span class="applauncher-pf-link-title">Recteque</span>
      </a>
    </li>
    <li class="applauncher-pf-item" role="presentation">
      <a class="applauncher-pf-link" href="#" role="menuitem">
        
        <i class="applauncher-pf-link-icon pficon pficon-virtual-machine" aria-hidden="true"></i>
        
        <span class="applauncher-pf-link-title">Ipsum</span>
      </a>
    </li>
    <li class="applauncher-pf-item" role="presentation">
      <a class="applauncher-pf-link" href="#" role="menuitem">
        
        <!-- Placeholder left to maintain spacing -->
        <i class="applauncher-pf-link-icon" aria-hidden="true"></i>
        
        <span class="applauncher-pf-link-title">Suavitate</span>
      </a>
    </li>
    <li class="applauncher-pf-item" role="presentation">
      <a class="applauncher-pf-link" href="#" role="menuitem">
        
        <i class="applauncher-pf-link-icon pficon pficon-domain" aria-hidden="true"></i>
        
        <span class="applauncher-pf-link-title">Lorem</span>
      </a>
    </li>
    <li class="applauncher-pf-item" role="presentation">
      <a class="applauncher-pf-link" href="#" role="menuitem">
        
        <i class="applauncher-pf-link-icon pficon pficon-home" aria-hidden="true"></i>
        
        <span class="applauncher-pf-link-title">Home</span>
      </a>
    </li>
  </ul>
</li>

      
      <li class="dropdown">
        <button class="btn btn-link dropdown-toggle nav-item-iconic" id="dropdownMenu17" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-th pficon-settings" aria-hidden="true"></span>
          </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu17">
          <li><a href="#0">Help</a></li>
          <li><a href="#0">About</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <button class="btn btn-link dropdown-toggle nav-item-iconic" id="dropdownMenu27" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="dropdown-title">
           Admin User <span class="caret"></span>
          </span>
          <span title="Username" class="fa pficon-user"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu27">
          <li><a href="#0">Preferences</a></li>
          <li><a href="#0">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  
</nav> <!--/.navbar-->


<script>
  $(document).ready(function() {
    $('.applauncher-pf .dropdown-toggle').eq(0).click();
  });
</script>