    <table class="table">
      <thead>
        <tr class="header-background">
          <th>Document Name</th>
          <th>Description</th>
          <th>Client Instruction</th>
          <th>Policy</th>
          <th>Certification</th>
          <th>Document Category</th>
          <th>Template</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td class="doc-rows" >{{document.name}}</td>
          <td class="doc-rows" >{{document.description}}</td>
          <td class="doc-rows" >{{document.clientInstruction}}</td>
          <td class="doc-rows" >{{document.policy}}</td>
          <td class="doc-rows" >{{document.certification}}</td>
          <td class="doc-rows" >{{document.category}}</td>
          <td class="doc-rows" >{{document.template}}</td>
        </tr>
      </tbody>
    </table>