  .document-generator {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
    font-family: Overpass;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #393f44;
  }
  .doc-gen-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .overview {
    padding-left: 50px;
    font-family: Overpass;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #393f44;
  }
  .doc-info {
    height: 195px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--white);
  }
  .search-container {
      padding: 30px;
  }

  .search-criteria {
    padding-left: 50px;
    padding-top: 30px;
    font-family: Overpass;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292e34;
  }
/* 
  .search-criteria {
    width: 1151px;
    height: 503px;
    background-color: var(--white);
  } */