<div class="search-container row">
    <p class="search-criteria">Checklist Search Criteria</p>
    <div class="col-md-4">
        <div> <br>
            <label>Product</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">Account Services</option>
            </select>
        </div>
        <div>
            <br>
            <label>Audience</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">Client</option>
            </select>
        </div>
        <div>
            <br>
            <label>Region</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">Asia</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <br>
            <label>Sub Product</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">Account Opening</option>
            </select>
        </div>
        <div>
            <br>
            <label>Client Action</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">New Account</option>
            </select>
        </div>
        <div>
            <br>
            <label>Country</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">China</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <br>
            <label>Channel</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">eBAM Premier</option>
            </select>
        </div>
        <div>
            <br>
            <label>Client Action Sub Type</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">New Account</option>
            </select>
        </div>
        <div>
            <br>
            <label>Residency</label>
            <select class="dropdown form-control">
                <option value="" selected="selected">Please Select</option>
                <option value="Account Services">Both</option>
            </select>
        </div>
    </div>

    <div class="button-container">
            <button type="button" class=" clear btn btn-primary">Clear</button>
            <button type="button" class="search btn btn-default">Search</button>
    </div>
</div>