<app-navbar></app-navbar>
<div class="doc-gen-container">
  <div class="doc-info row">
    <p class="document-generator">Document Generator</p>
    <div class="overview col-md-6">Brief overview of the task that is required to be completed by the user in order to
      supply the customer or process internally during account openining or periodic review.</div>
    <div class="col-lg-6"></div>
  </div>
</div>
<div class="grey-background">
  <div class="search-container">
    <app-document-search></app-document-search>
    <br><br>
  </div>
  <div class="document-list-container">
  <app-document-list *ngIf="!showDocuments"></app-document-list>
  </div>
</div>